<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">

  Team Name: <input type="text" name="team[name]"><br>
  Team Mott: <input type="text" name="team[motto]">

  Hero 1
  Name: <input type="text" name="team[hero][][name]" id="member1_name">
  Power: <input type="text" name="team[hero][][power]" id="member1_power">
  Bio: <input type="text" name="team[hero][][bio]" id="member1_bio">

  Hero 2
  Name: <input type="text" name="team[hero][][name]" id="member2_name">
  Power: <input type="text" name="team[hero][][power]" id="member2_power">
  Bio: <input type="text" name="team[hero][][bio]" id="member2_bio">

  Hero 3
  Name: <input type="text" name="team[hero][][name]" id="member3_name">
  Power: <input type="text" name="team[hero][][power]" id="member3_power">
  Bio: <input type="text" name="team[hero][][bio]" id="member3_bio">

  <button type="submit" value="submit">Submit</button>
  
</form>
